{% extends "base.html" %}
{% include "nav.html" %}

{% block content %}
<div class="container text-center pt-5">

    <section>
        <h1 class="text-uppercase">Auto Pete</h1>
        <p class="lead">Automating team selection so managers don't have to</p>
        <img class="img-fluid pt-5" src="../static/football1.png" style="height: 300px" />
    </section>

    <section class="pt-5">
        <h2>Hey! Who is playing today?</h2>
        <p class="lead">And, what are their preferred positions? [0 = Hate, 5 = Love]</p>

        {% include "players_form.html" %}
    </section>

</div>
{% endblock %}
