{% extends "base.html" %}
{% include "nav.html" %}

{% block content %}
<div class="container text-center pt-5">

    <section>
        <h1 class="text-uppercase">Auto Pete</h1>
        <p class="lead">Automating team selection so managers don't have to</p>
        <img class="img-fluid pt-5" src="../static/football1.png" style="height: 300px" />
    </section>

    <section class="pt-5">
        <h2>What format of the beautiful game are you playing?</h2>
        <div class="col pt-2">
            <button class="btn btn-danger">5-a-side</button>
            <button class="btn btn-danger">7-a-side</button>
            <button class="btn btn-danger">11-a-side</button>
        </div>
    </section>

    {% include "players_form.html" %}

</div>
{% endblock %}
