<div class="pitch position-relative">
    <div class="row gk">
        <button class="btn btn-danger">Etsuko</button>
    </div>
    <div class="row lb">
        <button class="btn btn-danger">Mychelle</button>
    </div>
    <div class="row rb">
        <button class="btn btn-danger">Jaz</button>
    </div>
    <div class="row cm">
        <button class="btn btn-danger">Jazzie</button>
    </div>
    <div class="row lw">
        <button class="btn btn-danger">Sian</button>
    </div>
    <div class="row rw">
        <button class="btn btn-danger">Keah</button>
    </div>
    <div class="row fw">
        <button class="btn btn-danger">Vicky</button>
    </div>
</div>

