<div class="pitch position-relative">
    <div class="row gk">
        <button class="btn btn-danger">Etsuko</button>
    </div>
    <div class="row lb">
        <button class="btn btn-danger">{{ defenders[0] }}</button>
    </div>
    <div class="row rb">
        <button class="btn btn-danger">{{ defenders[1] }}</button>
    </div>
    <div class="row cm">
        <button class="btn btn-danger">{{ central[0] }}</button>
    </div>
    <div class="row lw">
        <button class="btn btn-danger">{{ wingers[0] }}</button>
    </div>
    <div class="row rw">
        <button class="btn btn-danger">{{ wingers[1] }}</button>
    </div>
    <div class="row fw">
        <button class="btn btn-danger">{{ forwards[0] }}</button>
    </div>
</div>

