<form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset>

        <table class="table">
            <thead>
            <tr>
                <th>{{ form.player_name.label }}</th>
                <th>{{ form.pref_defence.label }}</th>
                <th>{{ form.pref_central.label }}</th>
                <th>{{ form.pref_winger.label }}</th>
                <th>{{ form.pref_forward.label }}</th>
            </tr>
            </thead>

            <tbody>
            {% for n in range(3) %}
            <tr>
                <td>
                    {{ form.player_name(class="form-control") }}
                </td>
                <td>
                    {{ form.pref_defence(class="form-control") }}
                </td>
                <td>
                    {{ form.pref_central(class="form-control") }}
                </td>
                <td>
                    {{ form.pref_winger(class="form-control") }}
                </td>
                <td>
                    {{ form.pref_forward(class="form-control") }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ form.submit(class="btn btn-light") }}
    </fieldset>

</form>