<form action="submit" method="POST">
    <table class="table">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Defence</th>
                <th>Central</th>
                <th>Winger</th>
                <th>Forward</th>
            </tr>
        </thead>
        <tbody>
            {% for n in range(1) %}
            <tr>
                <td>
                    <input type="text" class="form-control" id="input_player_name"  placeholder="Player Name" name="player_name">
                </td>
                <td>
                    <input type="text" class="form-control" id="input_pref_defence"  placeholder="0-5" name="pref_defence">
                </td>
                <td>
                    <input type="text" class="form-control" id="input_pref_central"  placeholder="0-5" name="pref_central">
                </td>
                <td>
                    <input type="text" class="form-control" id="input_pref_winger"  placeholder="0-5" name="pref_winger">
                </td>
                <td>
                    <input type="text" class="form-control" id="input_pref_forward"  placeholder="0-5" name="pref_forward">
                </td>
            </tr>
            {% endfor %}
<!--          {% for player in team %}-->
<!--            <tr>-->
<!--              <td>{{ player.name }}</td>-->
<!--              <td>{{ player.pref_defence }}</td>-->
<!--              <td>{{ player.pref_central }}</td>-->
<!--              <td>{{ player.pref_winger }}</td>-->
<!--              <td>{{ player.pref_forward }}</td>-->
<!--            </tr>-->
<!--          {% endfor %}-->
        </tbody>
    </table>

    <button type="submit" class="btn btn-light align-left">Submit</button>

</form>