{% extends "base.html" %}
{% include "nav.html" %}

{% block content %}
<div class="container text-center pt-5">

        <h1>Today's Team</h1>

        <p> <b>Players: </b>
            {% for player in player_name_submitted %}
                {{ player_name_submitted[player] }}
            {% endfor %}
        </p>

        <div class="row">
            <div class="col">
                <ul>
                    <li><b>Defenders:</b> {{ defenders | join(', ') }}</li>
                    <li><b>Central:</b> {{ central | join(', ') }}</li>
                    <li><b>Wingers:</b> {{ wingers | join(', ') }}</li>
                    <li><b>Forwards:</b> {{ forwards | join(', ') }}</li>
                    <li><b>Substitutes:</b> {{ subs | join(', ') }}</li>
                </ul>
            </div>
        </div>

        <div class="pt-3">
            <h1>Here's your winning formation!</h1>
            <p class="lead">Go get 'em team!</p>
<!--            <img class="img-fluid pt-3" src="../static/auto_pete_formation_example.png"/>-->
        </div>

        {% include "pitch.html" %}

</div>
{% endblock %}